.nav ol {
    list-style-type: none;
}

.nav ol a {
    text-decoration: none;
}

.nav  ol{
    display: flex;
    justify-content: flex-end;
}
.nav  ol li{
    padding-right: 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

#block{
    display: flex;
    flex-wrap: wrap;


}

article h3{
    text-align: center;
}

article{
    background-color: #cbaaaa;
    flex-basis: 32%;
    margin: 4px;
    padding: 0 2px;
    box-sizing: border-box;
}
