*{
    box-sizing: border-box;
    margin: 0;
}

.logo img{
    height: 30px;
    width: 80px;
    background-color: aqua;
}

.nav{
    height: 40px;
    background-color: #ff9;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.nav ol{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
   
}

.nav ol li, .login a{
    padding: 0 5px;
}

.nav ol li a, .login a{
    text-decoration: none;
}

.login{
    padding-right: 15px;
}

.logo{
    padding-left: 10px;
}
.btn{
    border-radius: 50px;
   padding: 2px;
    color: #fff;
    background: cyan;
    opacity: 1;
    transition: all 0.3s;
}
.btn:hover{
    opacity: .8;
    cursor: pointer;
    /* background-color: aqua; */
}




/* media query */

@media screen and (max-width: 960px) {
    na{
        display: block;
    }

    .login-link{
        display: none;
    }
    
}